Accessor methods for Link Relations

#76 already proposes accessor methods for Atom link elements for [RFC 5005](https://tools.ietf.org/html/rfc5005) support. There are more link relations encountered in feeds (most are [IANA registered](http://www.iana.org/assignments/link-relations/link-relations.xhtml)), so I propose to extend the concept to other `rel` values relevant for podcast feeds. These are the link relations I know of right now:

| Link Relation Type                   | Specification                                                                 |
|--------------------------------------|-------------------------------------------------------------------------------|
| `self`                               | [RFC 4287](https://tools.ietf.org/html/rfc4287)                               |
| `alternate`                          | [HTML](https://html.spec.whatwg.org/multipage/links.html#link-type-alternate) |
| `first`                              | [RFC 5005](https://tools.ietf.org/html/rfc5005)                               |
| `last`                               | [RFC 5005](https://tools.ietf.org/html/rfc5005)                               |
| `previous`                           | [RFC 5005](https://tools.ietf.org/html/rfc5005)                               |
| `next`                               | [RFC 5005](https://tools.ietf.org/html/rfc5005)                               |
| `prev-archive`                       | [RFC 5005](https://tools.ietf.org/html/rfc5005)                               |
| `next-archive`                       | [RFC 5005](https://tools.ietf.org/html/rfc5005)                               |
| `current`                            | [RFC 5005](https://tools.ietf.org/html/rfc5005)                               |
| `payment`                            | [RFC 8288](https://tools.ietf.org/html/rfc8288)                               |
| `hub`                                | [WebSub](https://www.w3.org/TR/websub/)                                       |
| `http://podlove.org/simple-chapters` | [Podlove External Chapter Information]( https://podlove.org/simple-chapters/) |
| `http://podlove.org/deep-link`       | [Podlove Deep Linking](https://podlove.org/deep-link/)                        |

Accessor methods should be exposed in the Atom `Link` companion object. The feed history companion can then simply delegate to the Atom methods.

I'll also add this to the scrapper to find out if there are more link relations around.  

Updated table with [RFC 4685](https://tools.ietf.org/html/rfc4685) "replies" relation

We can also extend this by providing creation methods in the companions for convenience:

```kotlin
const val selfRelation = "self"

fun createSelfRelation(
    val href: String,
    val hrefLang: String? = null,
    val hrefResolved: String? = null,
    val length: String? = null,
    val title: String? = null,
    val type: MediaType? = null
) = Link(href, hrefLang, hrefResolved, length, title, selfRelation, title, type)
```